<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>京东</title>
        <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
        <link rel="icon" href="{{url_for('static',filename='gerenzhiyeguihua.png')}}" type="image/png">
        <meta name="author" content="jwqiu">
    </head>
    <body>
        
        <div class="top">
            <div class="leftlogo">
                <img class="leftlogo" src="{{ url_for('static', filename='jdlogo.jpeg') }}" alt="logo of jd">
                <label class="title">用户登陆</label>
            </div>
            <div class="rightsug">
                <img class="message" src="{{ url_for('static', filename='xinxi-3.png') }}" alt="message us">
                <p>登陆页面，改进建议</p> 
            </div>
        </div>
        
        <div class="midarea">
            <label class="tip">京东不会以任何理由要求您转账，谨诈诈骗</label>

            <div class="phonelogin">
                <label class="phonelogintitle">手机扫码登陆</label>
                <img class='two' src="{{url_for('static',filename='qrcode-1-copy.png')}}" alt="二维码">
                <label class="guidance">打开京东APP点击右上角扫一扫</label>
                <label class="loginproblem">怎么扫码登陆？</label>
            </div>
            
            <div class="weblogin">
                <div class="chose">
                    <label class="password">密码登陆</label>
                    <label class="message">短信登陆</label>
                </div>
                <form action="/submit" method="POST" class="input">
                    <input class='username' type="text" id="username" name="username" placeholder="账号/手机号/邮箱">
                    <input class='password' type="text" id="password" name="password" placeholder="输入您的密码">
                    <label class="forget">忘记密码</label>
                    <input class='submit' type="submit" value="登陆">
                </form>

                <label class="other">支付宝登陆｜丁丁登陆｜忘记账号｜免费注册</label>
            </div>
        </div>
        <!-- <img class='slogan' src="{{ url_for('static', filename='cb2996a016d528f5.jpg') }}" alt=""> -->

    </body>
</html>

